.header-list a:nth-child(5){
    border-bottom: #fff 3px solid;
}
.content{
    margin-top:60px ;
    position: relative;
}
h1{
    font-size: 40px;
    font-weight: 600;
    color: #E57B19;
    letter-spacing: 35px;
}
/* 卡片 */
.row{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.content a,.content a:link,.content a:visited{
    text-decoration: none;
    color:none;
}
.column{
    padding: 30px;
    width: 30%;
    box-sizing: border-box;
}
.card{
    border-radius: 30px;
    height: 100%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.card:hover{
    transform: scale(1.1,1.1);
    transition: .3s;
    background-color: #dddddd85;
}
.pic{
    margin-bottom:10px ;
}
.pic img{
    width: 100%;
}
/* 卡片文字區 */
.card-text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 60%;
}
.card-text h2{
    font-size: 25px;
    color: #C7981E;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}
.card-text p{
    text-align: left;
    margin: auto;
    flex-grow: 1;
    color: #827F7F;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    flex-grow: 1;
}
.writer-name{
    color: #888888;
    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
}
/* 表單 */
.row:nth-child(3){
    justify-content: flex-end;
}
.menu ul{
    display: flex;   
}
.menu li{
    padding: 20px;
    color: #E57B19;
}
.menu a:nth-child(2){
    background-color: #dddddd85;
}
.menu li:hover{
    transform: scale(1.1,1.1);
    transition: .3s;
    background-color: #dddddd85;
}
/* 狗掌 */
.dog-paw1{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0%;
    left: 20%;
    transform: rotate(160deg);
    opacity: .2;
    z-index: -1;
}
.dog-paw1 img{
    width: 100%;
    filter:grayscale(1);
}
.dog-paw2{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: rotate(60deg);
    opacity: .2;
    z-index: -1;
}
.dog-paw2 img{
    width: 100%;
    filter:grayscale(1);
}
.dog-paw3{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: rotate(-30deg);
    opacity: .2;
    z-index: -1;
}
.dog-paw3 img{
    width: 100%;
    filter:grayscale(1);
}
.dog-paw4{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: rotate(20deg);
    opacity: .2;
    z-index: -1;
}
.dog-paw4 img{
    width: 100%;
    filter:grayscale(1);
}
.dog-paw5{
    width: 450px;
    height: 450px;
    position: absolute;
    bottom: 0%;
    left: 10%;
    transform: rotate(-10deg);
    opacity: .2;
    z-index: -1;
}
.dog-paw5 img{
    width: 100%;
    filter:grayscale(1);
}
.dog-paw6{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0%;
    right: 10%;
    transform: rotate(110deg);
    opacity: .2;
    z-index: -1;
}
.dog-paw6 img{
    width: 100%;
    filter:grayscale(1);
}